<!-- views/pages/userid.ejs -->
<head>
    <% include ../common/head %>
</head>
<% include ../common/body %>
<main>
    <div class="jumbotron">
           

           

            <h2>Your Transactions History</h2>
            <form action="/getusertransactiondetails" method="POST">  

                <input type="hidden" name="user_id" value=<%= userid%>>

<table>

        <% for(var i=0; i < arr.length; i++) { %>
           <tr>
        <td> <input type="radio" name="transaction_id" value=<%= arr[i].usertransaction_id %>  checked> </td>    <td>Transaction Id : <%= arr[i].usertransaction_id %> &nbsp;&nbsp;&nbsp;&nbsp;</td>
             <td>Transaction Date : <%= arr[i].usertransaction_date %></td>
        
           </tr>
        <% } %>
        </table>
        <input type="submit" value="Submit">  
</form>
    </div>
</main>
